@import '~@redhat-cloud-services/frontend-components-utilities/styles/_mixins';

.land-c-page__404 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .land-c-text__sorry { max-width: 70%; }

    h1, svg { @include rem('margin-bottom', 30px); }

    a { @include rem('font-size', 20px); }
}