@import '~@redhat-cloud-services/frontend-components-utilities/files/Utilities/_mixins';
@import '~@patternfly/patternfly/sass-utilities/_all';
@import '~@redhat-cloud-services/frontend-components-notifications/index.css';
@import '~@patternfly/patternfly/components/Alert/alert.scss';
:root {
    --ins-global--Color--green: #37912f;
    --ins-global--label-font-size: 12px;
    --ins-global-spacer--sm: var(--pf-global--spacer--sm);
    --ins-global-spacer--md: var(--pf-global--spacer--md);
    --ins-global-spacer--lg: var(--pf-global--spacer--lg);
    --ins-global-spacer--xl: var(--pf-global--spacer--xl);
    --ins-global-spacer--2xl: var(--pf-global--spacer--2xl);
    --ins-header-background-color: var(--pf-global--primary-color--200);
    --ins-header-font-color: var(--pf-global--palette--white);
    --ins-header-title--md: 16px;
    --inst-header-tittle--lg: 28px;
}

.ins-c-application-info .ins-m-gray { color: var(--pf-global--Color--200); }

.ins-m-tech-preview { color: var(--ins-global--Color--green); }

.ins-m-dev-preview { color: #39A5DC; }

.ins-m-early-preview {
    width: max-content;
    color: var(--pf-global--default-color--200);
}

.pf-c-modal-box__body .pf-c-empty-state img.ins-c-application-info__logo {
    @include rem('height', 76px);
}

.pf-c-card {
    padding: var(--pf-global--spacer--md);

    &.ins-c-application-info {
        height: 100%;

        img.ins-c-application-info__logo {
            @include rem('height', 56px);
            max-width: initial;
        }

        svg.ins-c-application-info__logo {
            @include rem('height', 56px);
            @include rem('width', 56px);
        }

        h2 { margin-top: 15px; }
    }

    .ins-c-application-info__open {
        display: block;
        span { margin-right: 15px }
    }
    
    .ins-c-application-info__content-applist {
        display: flex;
        flex-direction: column;
        a {
            display: block;
            text-transform: capitalize;
        }
        a + a { margin-top: 10px; }
    }

    .ins-c-navigation { color: var(--pf-global--active-color--100); }
}

svg.ins-c-icon__active { fill: var(--pf-global--active-color--100); }

.pf-c-modal-box .pf-c-title { white-space: normal; }

sup.ins-c-rball { @include rem('font-size', 10px); }

.ins-c-application-info__split {
    height: 100%;
    .ins-c-application-info__open {
        margin-top: auto;
        margin-bottom: 0;
    }
}

// Unentitled Modal Styles
.ins-c-error-modal {
    @include rem('max-width', 700px);
    .pf-c-modal-box__header {
        text-align: center;
        max-width: 75%;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: var(--pf-global--spacer--md);
    }
}

.ins-c-error-state {
    text-align: center;
    margin: 0 32px;
    .ins-c-error-state__title {
        font-weight: 400;
        @include rem('margin-top', 15px);
    }
    .ins-c-error-state__image {
        img, svg {
            @include rem('height', 100px);
            width: auto;
        }
    }
    .ins-c-error-state__footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top:  var(--pf-c-empty-state--c-button--MarginTop);
        &-close { margin-top: var(--pf-global--spacer--sm); }
    }
}

// Alert message
.notifications-portal .pf-c-alert{
    .pf-c-alert__description { display: none; }
    .pf-c-alert__title {
        padding: unset;
    }

    .pf-c-alert__icon {
        padding: unset;
        background-color: unset;
    }
}