@import '~@redhat-cloud-services/frontend-components-utilities/styles/_mixins';

.land-c-page__logout {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    h1 { @include rem('margin-bottom', 30px); }
    button { @include rem('font-size', 20px); }
}