
.landing-exploreCapabilities {
  overflow: auto;
  .pf-v6-l-gallery {
    --pf-v6-l-gallery--GridTemplateColumns--min: 280px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    a, a:hover {
      text-decoration: none;
    }
    .pf-v6-c-card {
       --pf-v6-c-card--m-selectable-raised--hover--before--BackgroundColor: none;
      img {
        height: 36px;
      }
    }
    .land-c-card__body-explore:hover {
      background-color: var(--pf-v6-global--BackgroundColor--150);
    }
  }
}
