.landing-\.\/EdgeWidget { 
    .pf-v5-c-card__body { 
       display: flex; 
       overflow-y: none;
      } 
    }

.landing-\.\/RhelWidget { 
    .pf-v5-c-card__body { 
       display: flex; 
       overflow-y: none;
      } 
    }
 
.landing-\.\/AnsibleWidget { 
    .pf-v5-c-card__body { 
        display: flex; 
        overflow-y: none;
      } 
    }

.landing-\.\/OpenShiftWidget { 
    .pf-v5-c-card__body { 
        display: flex; 
        overflow-y: none;
      } 
    }

.landing-\.\/QuayWidget { 
    .pf-v5-c-card__body { 
        display: flex; 
        overflow-y: none;
      } 
    }

.landing-\.\/AcsWidget { 
    .pf-v5-c-card__body { 
        display: flex; 
        overflow-y: none;
      } 
    }

.landing-\.\/OpenShiftAiWidget { 
  .pf-v5-c-card__body { 
      display: flex; 
      overflow-y: none;
    } 
  }