// non-scrollable widgets using flex
.landing-edge, .landing-openshift, .landing-openshiftAi, .landing-acs, [class*="landing-landing-./EdgeWidget"], [class*="landing-landing-./OpenShiftWidget"], [class*="landing-landing-./OpenShiftAiWidget"], [class*="landing-landing-./AcsWidget"] {
  display: flex; 
  overflow: hidden;
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

