// non-scrollable widgets using flex
.landing-edge, .landing-rhel, .landing-ansible, .landing-openshift, .landing-quay, .landing-openshiftAi, .landing-acs, .landing-imageBuilder { 
  display: flex; 
  overflow: hidden;
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

