.ins-c-navigation-overlay {
  position: fixed;
  z-index: 1000;
  left: 18.125rem; // can't use sidebar width variable. That only works inside tge page sidebar
  .pf-c-list {
    list-style: none;
  }
  .ins-c-navigation-overlay__content {
    background-color: var(--pf-global--BackgroundColor--100);
    width: fit-content;
    border: 1px solid var(--pf-global--BorderColor--100);
    border-left: none;
  }

  .ins-c-navigation-overlay__link:first-letter {
    text-transform: capitalize;
  }
}
