.ins-c-link__fancy {

    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-word;

    padding: 12px;
    border-radius: 2px;
    background: white;

    width: var(--ins-c-landing-page-card__width);

    svg {
        margin-left: var(--pf-global--spacer--md);
        color: var(--pf-global--Color--light-300);
    }
}