// TODO make this a grid

.ins-c-link__fancy {

    --ins-c-link__fancy-red: #E80000;

    color: var(--pf-global--Color--100);

    border-left: 2px solid var(--ins-c-link__fancy-red);
    padding-left: 8px;

    &:hover, &:hover *{
        text-decoration: none;
        font-weight: 700;
        color: var(--pf-global--Color--100);
    }

    svg {
        color: var(--pf-global--Color--light-300);
        margin-left: 8px;
    }
}