.IconHourglass {
    .st0{fill:none;}
    .st1{fill:#E80000;}
    .st2{fill:none;stroke:#E80000;stroke-width:2.134;stroke-linejoin:round;stroke-miterlimit:10;}
    .st3{fill:#FFFFFF;stroke:#E80000;stroke-width:2.134;stroke-miterlimit:10;}
    .st4{fill:url(#SVGID_1_);stroke:#E80000;stroke-width:2.134;stroke-miterlimit:10;}
    .st5{fill:url(#SVGID_2_);stroke:#E80000;stroke-width:2.134;stroke-linejoin:round;stroke-miterlimit:10;}
}