@import '~@patternfly/patternfly/sass-utilities/_all';
.land-c-carousel-container {
  width: 100%;
  display: flex;
  flex-direction: column;

  .land-c-carousel-wrapper {
    display: flex;
    width: 100%;
    position: relative;
    .land-c-arrow {
      position: relative;
      background: none;
      border: none;
      color: var(--pf-global--icon--Color--light);
      width: 28px;
    }
    .land-c-carousel-content-wrapper {
      margin: 0 var(--pf-global--spacer--lg) 0 var(--pf-global--spacer--lg);
      overflow: hidden;
      width: 100%;
      height: 100%;
      .land-c-carousel-content {
        display: grid;
        column-gap: var(--pf-global--spacer--lg);
        transition: transform 1s;
        -ms-overflow-style: none;  /* hide scrollbar in IE and Edge */
        scrollbar-width: none;  /* hide scrollbar in Firefox */
        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }
  .land-c-carousel-indicator-wrapper {
    margin-top: 20px;
    text-align: center;
    .land-c-carousel-indicator {
      background-color: var(--pf-global--icon--Color--light);
      border: 0;
      height: 3px;
      margin-right: var(--pf-global--spacer--xs);
      width: 30px;
      max-width: 1210px;
      &.active {
        background-color: var(--pf-global--primary-color--light-100);
      }
    }
  }
}

// @media (hover: none) and (pointer: coarse) {
@media screen and (max-width: $pf-global--breakpoint--sm) {
  .land-c-arrow {
    display: none;
  }
}