/* stylelint-disable no-descending-specificity */
@import '~@patternfly/patternfly/sass-utilities/_all';

.land-c-page-content {
  background-color: white;
  .land-c-footer__traditional{
    margin-right: var(--pf-global--spacer--lg);
    padding-top: var(--pf-global--spacer--sm);
    #redhat-logo {
      .cls-1 { fill: #e00; } 
    }
  }
  .land-l-first-panel {
    background: url(https://console.redhat.com/apps/frontend-assets/background-images/new-landing-page/estate_section_banner.png);
    background-size: cover !important;
    padding: var(--pf-global--spacer--xl) var(--pf-global--spacer--2xl) var(--pf-global--spacer--xl) var(--pf-global--spacer--2xl);
    height: 300px;
    .pf-c-content {
      color: white;
    }
  }

  .land-c-slick-slider-wrapper {
    margin-top: -180px;
    border: 1px solid;
    background: white;
    padding: 48px;
    .slick-slider {
      color: black;
    }
    .slick-dots {
      background: white;
      li button {
        border: 1px solid;
      }
      li button:before {
        font-size: 36px;
      }
      li.slick-active button:before {
        opacity: 1;
        color: var(--pf-global--active-color--100);
      }
    }
  }

  .land-l-second-panel { 
    .pagetitle {
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    .pf-l-flex {
      max-width: 1600px;
      margin-bottom: var(--pf-global--spacer--lg);
      &:last-of-type {
        width: 100%;
        margin-right: var(--pf-global--spacer--lg);
      }
    }
    .pf-c-card {
      width: 48%;
      max-width: 48%;
      align-self: stretch;
      &__body {
        .pf-c-sidebar {
          .pf-c-sidebar__main {
            height: 100%;
          }
          &__panel {
            --pf-c-sidebar__panel--FlexBasis: 60px;
            img {
              width: 62px;
            }
          }
          &__content {
            height: 100%;
            .pf-c-content {
              display: flex;
              flex-flow: column;
              height: 100%;
              p.title {
                font-size: var(--pf-global--FontSize--lg);
              }
              p.body {
                flex-grow: 1;
              }
            }
          }
        }
      }
    }
    @media screen and (max-width: $pf-global--breakpoint--md) {
      .pf-c-card {
        width: 100%;
        max-width: 100%;
        height: auto;
      }
    }  
  }

  .land-c-card-third-panel {

  }
}
