/* stylelint-disable no-descending-specificity */
@import '~@patternfly/patternfly/sass-utilities/_all';

.land-c-page-content {

  .land-l-first-panel {
    background: url(https://console.redhat.com/apps/frontend-assets/console-landing/estate_section_banner.png);
    background-size: cover !important;

    .land-c-slick-slider-wrapper {
      .pf-c-sidebar {
        border-top:  var(--pf-global--BorderWidth--lg) solid var(--pf-global--info-color--100);
        height: 280px;
        background-color: var(--pf-global--BackgroundColor--dark-300);
        &__main {
          height: 100%;
        }
        &__panel {
          background-size: cover;
          &.slide-1 {
            background-image: url(https://console.redhat.com/apps/frontend-assets/console-landing/ROSA_carousel-promo.svg);
          }
          &.slide-2 {
            background-image: url(https://console.redhat.com/apps/frontend-assets/console-landing/RHD_carousel-promo.svg);
          }
          &.slide-3 {
            background-image: url(https://console.redhat.com/apps/frontend-assets/console-landing/Insights_carousel-promo.svg);
          }
          &.slide-4 {
            background-image: url(https://console.redhat.com/apps/frontend-assets/console-landing/Marketplace_carousel-promo.svg);
          }
        }
        .land-c-button-custom {
          --pf-c-button--after--BorderColor: var(--pf-global--Color--light-100);
          color: var(--pf-global--Color--light-100);
        }
      }
      .slick-dots {
        li button:before {
          font-size: var(--pf-global--FontSize--4xl);
          color: var(--pf-global--Color--light-100);
        }
        li.slick-active button:before {
          opacity: 1;
          color: var(--pf-global--active-color--100);
        }
      }
    }
  }

  .land-c-sidebar { 
    background: url(https://console.redhat.com/apps/frontend-assets/console-landing/console-homepage-clouds.svg);
    .pf-c-sidebar__main {
      align-items: stretch;
    }
    .pf-c-sidebar__panel {
      border-left: var(--pf-global--BorderWidth--sm) solid var(--pf-global--BorderColor--100);
    }
    .pf-c-card {
      img {
        width: 42px;
      }
      .pf-c-content {
        height: 100%;
      }
    }
    @media screen and (max-width: $pf-global--breakpoint--md) {
      .pf-c-sidebar__panel {
        border: var(--pf-global--BorderWidth--sm) solid var(--pf-global--BorderColor--100);
      }
    } 
  }
}
