/* stylelint-disable no-descending-specificity */
@import '~@patternfly/patternfly/sass-utilities/_all';

.ins-c-page__landing-content {
  .error {
    color: var(--pf-global--danger-color--100);
  }
  .warning {
    color: var(--pf-global--warning-color--100);
  }
  .green {
    color: var(--pf-global--success-color--100);
  }
  .info {
    color: var(--pf-global--info-color--100);
  }
  .gray {
    color: var(--pf-global--Color--200);
  }
  .ins-c-footer__traditional{
    padding-top: var(--pf-global--spacer--sm);
    #redhat-logo {
      .cls-1 { fill: #e00; } 
    }
  }

  .ins-l-first-panel {
    color: var(--pf-global--Color--light-100);
    background: url(https://cloud.redhat.com/apps/frontend-assets/background-images/new-landing-page/estate-double_gradient.svg);
    background-size: cover !important;
    padding: var(--pf-global--spacer--xl) var(--pf-global--spacer--lg) var(--pf-global--spacer--lg) var(--pf-global--spacer--lg);
    overflow-x: auto;

    .ins-c-skeleton {
      animation-duration: 3s;
      &.ins-m-dark {
        background: linear-gradient(to right, rgba(60,60,60,.2) 10%, rgba(72,72,72,.4) 18%, rgba(60,60,60,.2) 33%);
      }
    }
    .estate-group {
      a {
        color: var(--pf-global--Color--light-100);
        &:hover {
          text-decoration: none;
          color: var(--pf-global--active-color--100);
          border-bottom: 2px solid var(--pf-global--active-color--100);
        }
      }
    }

    @media screen and (min-width: $pf-global--breakpoint--md) {
      .pf-c-description-list {
        align-items: normal;
        .estate-group {
          margin-right: var(--pf-global--spacer--md);
          .pf-c-description-list__text {
            width: 140px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical; 
            overflow: hidden;
          }
          .estate-section {
            .pf-c-description-list__text {
              height: 50px;
              p {
                font-size: var(--pf-global--FontSize--md);
                &::after {
                  content: '\00a0';
                }
              }
            }
          }
          .estate-title {
            .pf-c-description-list__text {
              height: 40px;
              p {
                font-size: var(--pf-global--FontSize--sm);
              }
            }
          }
        }
      }
    }

    @media only screen and (max-width: $pf-global--breakpoint--md) {
      .pf-c-description-list {
        row-gap: 0;
        display: flex;
        flex-direction: column;
        .estate-group {
          display: flex;
          flex-wrap: wrap;
          .estate-section {
            >.pf-c-description-list__text {
              p {
                margin: var(--pf-global--spacer--md) 0;
              }
              &::after {
                content: '';
              }
              p:empty {
                margin: 0;
              }
            }
            font-size: var(--pf-global--FontSize--xl);
            width: 100%;
          }
          .estate-count, .estate-title {
            .pf-c-title, p {
              font-size: var(--pf-global--FontSize--md);
              padding-right: var(--pf-global--spacer--sm);
            }
          }
        }
      }
    }
  }

  .ins-l-second-panel {
    background-color: var(--pf-global--BackgroundColor--100);
    color: var(--pf-global--Color--100);
    padding: var(--pf-global--spacer--xl) var(--pf-global--spacer--lg) var(--pf-global--spacer--lg) var(--pf-global--spacer--lg);
   
    .ins-c-recommendation__container {
      max-width: 1210px;
      column-count: 2;
      column-gap: var(--pf-global--spacer--2xl);
      overflow: hidden; // prevents padding from spilling into next column
      break-inside: avoid-column; // prevents padding from spilling into next column

      .recommendation-section {
        break-inside: avoid-column;
        flex-wrap: nowrap;
        &:last-child {
          padding-bottom: var(--pf-global--spacer--lg);
        }
      }

      .recommendation-group {
        flex-wrap: nowrap;
        overflow: hidden;
        break-inside: avoid-column;
        margin-bottom: var(--pf-global--spacer--md);
        width: 100%;
        p {
          font-size: var(--pf-global--FontSize--sm);
          font-weight:  300;
        }
        a {
          width: 110px;
        }
      }
    }

    @media only screen and (max-width: $pf-global--breakpoint--lg) {
      .ins-c-recommendation__container {
        column-count: 1;
      }
    }
  }

  .ins-l-third--panel-wrapper {
    background-color: var(--pf-global--Color--light-200);
    .ins-l-third--panel {
      color: var(--pf-global--Color--100);
      display: grid;
      grid-template-columns: [config] 1fr [try] 1fr [learn] 1fr;
      grid-template-rows: [start] 1fr;
      row-gap: var(--pf-global--spacer--xs);
      column-gap: var(--pf-global--spacer--xl);
      max-width: 1210px;
      .ins-c-grid__config {
        grid-column-start: config;
      }
      .ins-c-grid__try {
        grid-column-start: try;
      }
      .ins-c-grid__learn {
        grid-column-start: learn;
      }
      .section-header > div {
        margin: 0 var(--pf-global--spacer--sm) auto 0;
      }
      .tile {
        .pf-c-title, p {
          font-size: var(--pf-global--FontSize--sm);
        }
      }
      @media screen and (max-width: $pf-global--breakpoint--xl) {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
