/* stylelint-disable no-descending-specificity */
@import '~@patternfly/patternfly/sass-utilities/_all';

.land-c-page-content {

  .land-l-first-panel {
    background: url(https://console.redhat.com/apps/frontend-assets/console-landing/estate_section_banner.png);
    background-size: cover !important;

    .land-c-slick-slider-wrapper {
      margin: auto auto;
      max-width: 1500px;
      .pf-c-sidebar {
        border-top:  var(--pf-global--BorderWidth--lg) solid var(--pf-global--info-color--100);
        height: 240px;
        background-color: var(--pf-global--BackgroundColor--dark-300);
        &__main {
          height: 100%;
        }
        &__panel {
          background-size: cover;
          &.slide-1 {
            background-image: url(https://console.redhat.com/apps/frontend-assets/console-landing/ROSA_carousel-promo.svg);
          }
          &.slide-2 {
            background-image: url(https://console.redhat.com/apps/frontend-assets/console-landing/RHD_carousel-promo.svg);
          }
          &.slide-3 {
            background-image: url(https://console.redhat.com/apps/frontend-assets/console-landing/Insights_carousel-promo.svg);
          }
          &.slide-4 {
            background-image: url(https://console.redhat.com/apps/frontend-assets/console-landing/Marketplace_carousel-promo.svg);
          }
        }
      }
      .slick-dots{
        bottom: -12px;
        li.slick-active button:before{
          content: "\002d" !important;
          color: var(--pf-global--info-color--100);
          font-size: 100px;
        }
        li button:before{
          content: "\002d";
          color: var(--pf-global--info-color--100);
          font-size: 100px;
        }
      }
    }
  }

  .land-c-sidebar { 
    background: url(https://console.redhat.com/apps/frontend-assets/console-landing/console-homepage-clouds.svg);
    .pf-c-sidebar__main {
      align-items: stretch;
    }
    .land-l-stack__item-favorites {
      border-bottom: var(--pf-global--BorderWidth--sm) solid var(--pf-global--BorderColor--100);
    }
    .pf-c-sidebar__panel {
      border-left: var(--pf-global--BorderWidth--sm) solid var(--pf-global--BorderColor--100);
    }
    .pf-c-card {
      img {
        width: 42px;
      }
      .pf-c-content {
        height: 100%;
      }
    }
    @media screen and (max-width: $pf-global--breakpoint--md) {
      .pf-c-sidebar__panel {
        border: var(--pf-global--BorderWidth--sm) solid var(--pf-global--BorderColor--100);
      }
    } 
  }
}
