@import '~@patternfly/patternfly/sass-utilities/_all';

$pf-c-width-limiter--breakpoint-map: build-breakpoint-map();

// width limiter
.pf-c-width-limiter {
    --pf-c-width-limiter--MaxWidth: auto;
    --pf-c-width-limiter--MinWidth: 0;

    @include pf-build-css-variable-stack(
        "max-width",
        "--pf-c-width-limiter--MaxWidth",
        $pf-c-width-limiter--breakpoint-map
    );
    @include pf-build-css-variable-stack(
        "min-width",
        "--pf-c-width-limiter--MinWidth",
        $pf-c-width-limiter--breakpoint-map
    );
}

.pf-c-page__main-section {
    --ins-c-page__main-section--PaddingRight: var(--pf-global--spacer--xl);
    --ins-c-page__main-section--PaddingLeft: var(--pf-global--spacer--xl);
    --ins-c-landing--m-display-md--MaxWidth: #{pf-size-prem(1283px)};
    --ins-c-landing--m-display-lg--MaxWidth: #{pf-size-prem(1600px)};

    @media screen and (min-width: $pf-global--breakpoint--md) {
        --ins-c-page__main-section--PaddingRight: var(--pf-global--spacer--2xl);
        --ins-c-page__main-section--PaddingLeft: var(--pf-global--spacer--2xl);
    }

    --pf-c-page__main-section--PaddingRight: var(--ins-c-page__main-section--PaddingRight);
    --pf-c-page__main-section--PaddingLeft: var(--ins-c-page__main-section--PaddingLeft);

    &.pf-m-limit-width.ins-m-display-md {
        --pf-c-page--section--m-limit-width--MaxWidth: calc(var(--ins-c-landing--m-display-md--MaxWidth) + var(--pf-c-page__main-section--PaddingRight) + var(--pf-c-page__main-section--PaddingLeft));
    }

    &.pf-m-limit-width.ins-m-display-lg {
        --pf-c-page--section--m-limit-width--MaxWidth: var(--ins-c-landing--m-display-lg--MaxWidth);
    }

    &.pf-m-center .pf-c-page__main-body {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
}

.pf-c-page__main-section.ins-m-primary-color--200 {
    --pf-c-page__main-section--BackgroundColor: var(--pf-global--primary-color--200);

    color: var(--pf-global--Color--light-100);
}

// temp styles
.pf-c-drawer__content,
.ins-m-full-height {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.pf-c-content {
    --pf-c-content--ul--PaddingLeft: var(--pf-global--spacer--xs);
    --pf-c-content--ul--MarginLeft: var(--pf-global--spacer--md);
}

.ins-c-logo {
    --ins-c-logo--Width: #{pf-size-prem(160px)};

    width: var(--ins-c-logo--Width);
}

.pf-l-grid {
    > * {
        max-width: 100%;
    }

    &.pf-m-align-items-center {
        align-items: center;
    }

    .pf-l-grid__item {
        &.pf-m-justify-items-center {
            justify-items: center;
        }
    }
}

.ins-c-card-video {
    position: relative;
    display: grid;
    row-gap: var(--pf-global--spacer--lg);
    width: 100%;

    @media screen and (min-width: 537px) {
        width: 473px;
    }
}

.ins-c-card-video__iframe {
    position: relative;
    padding-top: 56.25%;

    > iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.ins-c-card-video__iframe,
.ins-c-card-video__figcaption {
    width: 100%;
}
