.ins-c-landing-body {
  height: 40vh;
  margin-top: 48px;
  margin-right: 24px;
}

.ins-c-landing-grouping {
  margin-right: 24px;
  margin-left: 24px;

  .ins-c-landing-separator {
    margin-bottom: 32px;
  }

  .ins-c-landing-grouping__title {
    margin-bottom: var(--ins-global-spacer--xl);
    
  }

  .ins-c-landing-grouping__title--spacing {
    color: #ffffff;
  }
}