.ins-c-tile {
  margin-right: 48px;
  
  .ins-c-tile__title {
    margin-bottom: var(--ins-c-global-spacer--xl);
  }

  .inc-c-tile--button {
    margin-top: 16px;
    width: 200px;
  }

  .ins-c-tile__content {
    margin-bottom: var(--ins-c-global-spacer--sm);
  }

}
