/* stylelint-disable no-descending-specificity */
.ins-c-page__landing-content {
  .level-wrapper { 
    flex-basis: 1160px; // set max width for desktop at 1450px total
    padding: var(--pf-global--spacer--xl) var(--pf-global--spacer--lg) 0 var(--pf-global--spacer--lg);
  }
  .break {
    flex-basis: 100%;
    height: 0;
  }
  .error {
    color: var(--pf-global--danger-color--100);
  }
  .warning {
    color: var(--pf-global--warning-color--100);
  }
  .green {
    color: var(--pf-global--success-color--100);
  }
  .info {
    color: var(--pf-global--info-color--100);
  }

  .ins-c-footer__traditional{
    padding-top: var(--pf-global--spacer--sm);
  }
  .first-level {
    background-color: var(--pf-global--primary-color--200);
    color: var(--pf-global--Color--light-100);
    .level-wrapper {
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: var(--pf-global--spacer--xl);
      .tile {
        flex-basis: 15%;
        flex-direction: column;
        margin-top: auto; // adjust for missing secton titles
        .title {
          font-size: var(--pf-global--FontSize--md);
          padding-bottom: var(--pf-global--spacer--md);
        }
        .count {
          font-size: var(--pf-global--FontSize--3xl);    
        }
        .name {
          font-size: var(--pf-global--FontSize--sm);
          margin-bottom: var(--pf-global--spacer--sm);
        }
        .label {
          align-self:stretch;
          .pf-c-label {
            width: 100%;
            --pf-c-label--FontSize: var(--pf-global--FontSize--xs);
          }
        }
        .ins-m-hidden {
          display: none !important;
        }
      }
    }
  }

@media screen and (min-width: 1200px) and (max-width: 1449px) {
     .first-level {
       .level-wrapper {
         flex-basis: 100%;
         justify-content: space-between;
         .tile {
           flex-basis: 30%;
           --pf-l-flex--spacer: var(--pf-global--spacer--lg);
           &:nth-of-type(3n+0) { --pf-l-flex--spacer: var(--pf-l-flex--spacer--none); }
           &:nth-of-type(n+4) { padding-top: var(--pf-global--spacer--lg); }
         }
       }
     }
   }

  @media screen and (max-width: 1199px) {
    .first-level {
      padding-right: var(--pf-global--spacer--lg);
      .level-wrapper {
        flex-direction: column;
        width: 100%;
        .tile {
          flex-direction: row;
          width: 100%;
          &:first-of-type .title {
            padding-top: var(--pf-global--spacer--none);
          }
          .title {
            font-size: var(--pf-global--FontSize--xl);
            padding-bottom: var(--pf-global--spacer--md);
            padding-top: var(--pf-global--spacer--md);
            &:empty {
              display: none;
            }
          }
          .count {
            font-size: var(--pf-global--FontSize--xl);
            padding-bottom: var(--pf-global--spacer--none);      
          }
          .name {
            flex: 2;
            flex-wrap: nowrap;
          }
          .label {
            flex-basis: 30%;
          }
        }
      }
    }
  }

  .third-level {
    background-color: var(--pf-global--Color--light-200);
    color: var(--pf-global--Color--100);
    .section-title {
      font-weight: var(--pf-global--FontWeight--normal) !important;
    }
    .tile-icon {
      border-radius: 50%;
      background-color: var(--pf-global--palette--black-300);
      border: 10px solid var(--pf-global--palette--black-300);
    }
    .tile-text {
      font-size: 14px;
    }
    .icon-wrapper {
      /** prevent icons scrollbars */
      flex-shrink: 0;
    }
    .tile-content {
      /** vertically align icon with text */
      align-items: center;
    }
  }
}

.second-panel {
  background-color: var(--pf-global--BackgroundColor--100);
  color: var(--pf-global--Color--100);

  .whole-row {
    width: 100%;
    grid-template-columns: 1fr fit-content(20%)
  }

  .whole-row:not(:last-child) {
    margin-bottom: 16px;
  }

  .custom-grid {
    display: grid;
    grid-template-columns: 1fr fit-content(100%);
  }

  .group-icon {
    max-width: 16px;
  }

  .recommendation-button {
    width: 100%;
    height: fit-content;
  }
}
