/* stylelint-disable no-descending-specificity */
.ins-c-page__landing-content {
  .level-wrapper { 
    flex-basis: 1160px; // set max width for desktop at 1450px total
    padding: var(--pf-global--spacer--xl) var(--pf-global--spacer--lg) 0 var(--pf-global--spacer--lg);
  }
  .break {
    flex-basis: 100%;
    height: 0;
  }
  .error {
    color: var(--pf-global--danger-color--100);
  }
  .warning {
    color: var(--pf-global--warning-color--100);
  }
  .green {
    color: var(--pf-global--success-color--100);
  }
  .info {
    color: var(--pf-global--info-color--100);
  }

  .ins-c-footer__traditional{
    padding-top: var(--pf-global--spacer--sm);
  }
  .first-level {
    background-color: var(--pf-global--primary-color--200);
    color: var(--pf-global--Color--light-100);
    .level-wrapper {
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: var(--pf-global--spacer--xl);
      .tile {
        flex-basis: 15%;
        flex-direction: column;
        margin-top: auto; // adjust for missing secton titles
        .title {
          font-size: var(--pf-global--FontSize--md);
          padding-bottom: var(--pf-global--spacer--md);
        }
        .count {
          font-size: var(--pf-global--FontSize--3xl);    
        }
        .name {
          font-size: var(--pf-global--FontSize--sm);
          margin-bottom: var(--pf-global--spacer--sm);
        }
        .label {
          align-self:stretch;
          .pf-c-label {
            width: 100%;
            --pf-c-label--FontSize: var(--pf-global--FontSize--xs);
          }
        }
      }
    }
  }

@media screen and (min-width: 1200px) and (max-width: 1449px) {
     .first-level {
       .level-wrapper {
         flex-basis: 100%;
         justify-content: space-between;
         .tile {
           flex-basis: 30%;
           --pf-l-flex--spacer: var(--pf-global--spacer--lg);
           &:nth-of-type(3n+0) { --pf-l-flex--spacer: var(--pf-l-flex--spacer--none); }
           &:nth-of-type(n+4) { padding-top: var(--pf-global--spacer--lg); }
         }
       }
     }
   }

  @media screen and (max-width: 1199px) {
    .first-level {
      padding-right: var(--pf-global--spacer--lg);
      .level-wrapper {
        flex-direction: column;
        width: 100%;
        .tile {
          flex-direction: row;
          width: 100%;
          &:first-of-type .title {
            padding-top: var(--pf-global--spacer--none);
          }
          .title {
            font-size: var(--pf-global--FontSize--xl);
            padding-bottom: var(--pf-global--spacer--md);
            padding-top: var(--pf-global--spacer--md);
            &:empty {
              display: none;
            }
          }
          .count {
            font-size: var(--pf-global--FontSize--xl);
            padding-bottom: var(--pf-global--spacer--none);      
          }
          .name {
            flex: 2;
            flex-wrap: nowrap;
          }
          .label {
            flex-basis: 30%;
          }
        }
      }
    }
  }

  .second-level {
    background-color: var(--pf-global--BackgroundColor--100);
    color: var(--pf-global--Color--100);
    flex-direction: row;
    .level-wrapper {
      .section {
        &:nth-of-type(1){ // left column
          flex-basis: calc(38% - var(--pf-global--spacer--xl));
          margin-right: var(--pf-global--spacer--xl)
        }
        &:nth-of-type(2){ // center and right columns
          flex-basis: calc(62%);
          flex-direction: row;
          .subsection {
            &:nth-of-type(1){ // center column
              flex-basis: calc(52% - var(--pf-global--spacer--xl));
              margin-right: var(--pf-global--spacer--xl);
            }
            &:nth-of-type(2){ // right column
              flex-basis: 48%;
              h1 {
                color: #fff;
              }
            }
          }
        }

        .subsection {
          flex-direction: column;
          padding-bottom: var(--pf-global--spacer--xl);
          margin-right: 0;
          h1 {
            font-size: var(--pf-global--FontSize--xl);
            padding-bottom: var(--pf-global--spacer--lg);
          }
          .tile-group {
            align-self: stretch;
            margin-right: 0;
            margin-bottom: var(--pf-global--spacer--lg);
            &:last-child {
              margin-bottom: 0;
            }
            h2 {
              font-size: var(--pf-global--FontSize--md);
              margin-bottom: var(--pf-global--spacer--md);
            }
            .tile {
              flex-wrap: nowrap;
              margin-bottom: var(--pf-global--spacer--md);
              width: 100%;
              &:last-child {
                margin-bottom: 0;
              }
              .icon {
                flex-grow: 0;
                margin-right: 8px;
              }
              .title {
                flex-grow: 1;
                margin-right: 4px;
                h5 {
                  font-size: var(--pf-global--FontSize--sm);
                  font-weight:  300;
                }
              }
              .button {
                flex-grow: 0;
                button {
                  width: 90px;
                }
              }
            }
          }
        }
      }
    }
  }

  @media screen and (min-width: 1200px) and (max-width: 1449px) {
    .second-level {
      .level-wrapper {
        flex-basis: 100%;
        .section {
          &:nth-of-type(1){flex-basis: calc(40% - 48px);}
          &:nth-of-type(2){
            flex-basis: 60%;
            flex-direction: column;
            .subsection {
              width: 100%;
              .security {
                display: none;
              }
            }
            .tile-group {
              width: 100%;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 1199px) {
    .second-level {
      padding-right: var(--pf-global--spacer--lg);
      .level-wrapper {
        flex-direction: column;
         align-items: stretch;
        .pf-l-flex.section {
          flex-direction: column;
        }
        .section { align-items: stretch; }
        .section:nth-of-type(1) { margin-right: 0 }
        .section:nth-of-type(2) { margin-right: 0 }
        .section:nth-of-type(2) .subsection:nth-of-type(1) { margin-right: 0 }
        .subsection { align-items: stretch; }
        .security {display: none;}
      }
    }
  }

  .third-level {
    background-color: var(--pf-global--Color--light-200);
    color: var(--pf-global--Color--100);
    .level-wrapper {
      .section {
        align-items: stretch;
        flex-basis: calc(33.333333% - var(--pf-global--spacer--md));
        margin-right: var(--pf-global--spacer--lg);
        &:last-child {
          margin-right: 0;
        }
        .section-title {
          font-size: var(--pf-global--FontSize--xl);
          font-weight:  var(--pf-global--FontWeight--normal);
          padding-bottom: var(--pf-global--spacer--xl);
        }
        .tile {
          display: flex;
          flex-basis: 100%;
          align-self: stretch;
          margin-bottom: var(--pf-global--spacer--xl);
          .pf-l-split__item {
            flex-shrink: 1;
            .tile-title {
              font-size: 14px;
              font-weight:  var(--pf-global--FontWeight--normal);
              margin-bottom: var(--pf-global--spacer--sm);
            }
            .tile-description {
              color: var(--pf-global--palette--black-500);
              font-size: var(--pf-global--FontSize--sm);
              font-weight:  var(--pf-global--FontWeight--normal);
              margin: 0 0 var(--pf-global--spacer--sm) 0;
            }
            .tile-link {
              margin: 0;
              a {
                color: var(--pf-global--active-color--100);
                font-size: 14px;
              }
            }
          }
          .pf-l-split__item:first-of-type {
            flex-shrink: 0;
            margin-right: var(--pf-global--spacer--md);
            .tile-icon {
              border-radius: 50%;
              background-color: var(--pf-global--disabled-color--200);
              height: 50px;
              padding: 10px;
              width: 48px;
              border: 2px solid #d2d2d2;
              svg {
                height: 26px;
                width: 26px;
                path {
                  fill: #000000;
                }
              }
            }
          }
        }
      }
    }
  }

  @media screen and (min-width: 1200px) and (max-width: 1449px) {
    .third-level {
      .level-wrapper {
        flex-basis: 100%;
        flex-direction: column;
        align-self:stretch;
        width: 100%;
        .section {
          align-self:stretch;
          flex-direction: row;
          margin-right: 0;
          .tile {
            flex-basis: 48%;
            align-self:stretch;
            margin-bottom: var(--pf-global--spacer--md);
            .section-title { 
              padding-top: var(--pf-global--spacer--md);
              padding-bottom: 0;
              &:first-child { padding-top: 0}
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 1199px) {
    .third-level {
      .level-wrapper {
        flex-basis: 100%;
        flex-direction: column;
        align-self: stretch;
        .section {
          align-self:stretch;
          flex-basis: auto;
          flex-direction: row;
          > div:nth-of-type(2){flex-basis: 100%;}
          > div:nth-of-type(3){flex-basis: 100%;}
          .section-title { 
            padding-top: var(--pf-global--spacer--md);
            &:first-child { padding-top: 0}
          }
        }
      }
    }
  }
}
