.ins-c-tile {
  width: 320px;
  
  .ins-c-tile__title {
    margin-bottom: var(--ins-c-global-spacer--xl);
  }

  .inc-c-tile--button {
    // margin-top: 16px;
    width: 200px;
  }

  .ins-c-tile__content {
    margin-bottom: 8px;
  }

}
.ins-c-tile {
  width: 320px;
  
  .ins-c-tile__title {
    margin-bottom: var(--pf-global--spacer--xl);
  }

  .inc-c-tile--button {
    // margin-top: 16px;
    width: 200px;
  }

  .ins-c-tile__content {
    margin-bottom: var(--pf-global--spacer--md);
  }

}
