.ins-c-landing-body {
  margin-top: var(--pf-global--spacer--xl);
  margin-bottom: var(--pf-global--spacer--xl);
}

.ins-c-landing-grouping {XS

  .ins-c-landing-separator {
    margin-bottom: 32px;
  }

  .ins-c-landing-grouping__title {
    margin-bottom: var(--ins-global-spacer--xl);
    
  }
}