// Body.scss
.ins-p-landing__content[landing-page-type="authenticated"] {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 1200px) {
        width: 80%;
    }

    [application-id="insights"] .ins-c-application-info__content-applist {
        display: grid;
        grid-template-columns: auto;
        @media screen and (min-width: 992px) {
            grid-template-columns: auto auto;
            gap: 10px;
            a { margin-top: 0; }
        }
    }
}

