@import '~@red-hat-insights/insights-frontend-components/Utilities/_mixins';
@import '~@patternfly/patternfly/sass-utilities/_all';

.ins-p-browser-support {
    .pf-c-title {
        margin-top: var(--pf-global--spacer--md);
        margin-bottom: var(--pf-global--spacer--xs);
    }
    p { margin: var(--pf-global--spacer--xs) 0; }
    li {
        margin-left: var(--pf-global--spacer--md);
        list-style: disc;
    }
}

.ins-c-footer__traditional {
    padding: var(--pf-global--spacer--2xl);
    background-color: var(--pf-c-page__main-section--BackgroundColor);

    svg { @include rem('width', 150px); }

    .ins-p-footer__browser-support {
        padding: 0;
        &:hover {
            text-decoration: underline;
        }
    }

    .ins-c-footer__traditional-nav {
        .copyright {
            color: var(--pf-global--Color--200);
            @include rem('margin-right', 30px);
        }

        * { font-size: var(--pf-global--FontSize--sm); }

        li + li {
            @media screen and (min-width: $pf-global--breakpoint--lg) {
                &::before {
                    content: '|';
                    color: var(--pf-global--Color--200);
                    margin-right: var(--pf-global--spacer--md);
                }
            }
        }
    }
}
