@import '~@red-hat-insights/insights-frontend-components/Utilities/_mixins';

footer.ins-c-footer__traditional {
    @include rem('padding', 30px 60px);
    background-color: var(--pf-c-page__main-section--BackgroundColor);

    svg { @include rem('width', 150px); }

    .ins-c-footer__traditional-nav {
        * { font-size: var(--pf-global--FontSize--sm); }

        .copyright {
            color: var(--pf-global--Color--200);
            @include rem('margin-right', 30px);
        }

        * { display: inline-block; }
        
        a + a {
            border-left: 2px solid var(--pf-global--Color--200);
            @include rem('margin-left', 15px);
            @include rem('padding-left', 15px);
        }
    }
}