@import '~@red-hat-insights/insights-frontend-components/Utilities/_mixins';
@import '~@patternfly/patternfly/sass-utilities/_all';

.ins-c-footer__traditional {
    @include rem('padding', 30px 60px);
    background-color: var(--pf-c-page__main-section--BackgroundColor);

    svg { @include rem('width', 150px); }

    .ins-c-footer__traditional-nav {
        .copyright {
            color: var(--pf-global--Color--200);
            @include rem('margin-right', 30px);
        }

        * {
            font-size: var(--pf-global--FontSize--sm);
        }

        li + li {
            @media screen and (min-width: $pf-global--breakpoint--lg) {
                &::before {
                    content: '|';
                    color: var(--pf-global--Color--200);
                    margin-right: var(--pf-global--spacer--md);
                }
            }
        }
    }
}