@import '~@redhat-cloud-services/frontend-components-utilities/files/Utilities/_mixins';

.ins-c-footer__menu{
    background: white;
    box-shadow: var(--pf-global--BoxShadow--sm);
    z-index: 2;
    @include rem('padding', 60px);
    a {
        display: block;
        & + a { @include rem('margin-top', 15px); }
    }
    .ins-m-inline { display: inline; }
}