@import '~@redhat-cloud-services/frontend-components-utilities/styles/_mixins';
@import '~@patternfly/patternfly/sass-utilities/_all';

.ins-c-get-started {
    --pf-c-page__main-section--PaddingTop: var(--pf-global--spacer--xl);
    --pf-c-page__main-section--PaddingBottom: var(--pf-global--spacer--xl);

    @media screen and (min-width: $pf-global--breakpoint--xl) {
        --pf-c-page__main-section--PaddingTop: var(--pf-global--spacer--4xl);
        --pf-c-page__main-section--PaddingBottom: var(--pf-global--spacer--4xl);
    }
}
