@import '~@redhat-cloud-services/frontend-components-utilities/styles/_mixins';
@import '~@patternfly/patternfly/sass-utilities/_all';

.ins-c-hero {

    background: url("/apps/chrome/assets/images/fedora-background-left.svg");
    background-repeat: no-repeat;
    background-size: cover;

    h1.ins-c-hero__title { color: white; }

    h2.ins-c-hero__sub-title { color: var(--pf-global--Color--200); }

    @media screen and (min-width: $pf-global--breakpoint--xs) {
        @include rem('min-height', 400px);
    }

    @media screen and (min-width: $pf-global--breakpoint--md) {
        @include rem('min-height', 550px);
    }
}