@import '~@patternfly/patternfly/sass-utilities/_all';

$ins-c-product-grid--breakpoint: $pf-global--breakpoint--md;
$ins-c-product-grid--border--breakpoint: (pf-size-prem(1600px) + (pf-size-prem($pf-global--BorderWidth--sm) * 2));

.ins-c-product-grid {
    --pf-c-page__main-section--PaddingTop: var(--pf-global--spacer--xl);
    --pf-c-page__main-section--PaddingRight: 0;
    --pf-c-page__main-section--PaddingBottom: var(--pf-global--spacer--xl);
    --pf-c-page__main-section--PaddingLeft: 0;

    @media screen and (min-width: $pf-global--breakpoint--md) {
        --pf-c-page__main-section--PaddingTop: var(--pf-global--spacer--2xl);
        --pf-c-page__main-section--PaddingBottom: var(--pf-global--spacer--2xl);
    }

    @media screen and (min-width: $pf-global--breakpoint--xl) {
        --pf-c-page__main-section--PaddingBottom: var(--pf-global--spacer--xl);
    }

    @media screen and (min-width: #{$ins-c-product-grid--border--breakpoint}) {
        --pf-c-page__main-section--PaddingBottom: var(--pf-global--spacer--3xl);
    }

    .ins-c-section-title {
        padding-right: var(--pf-global--spacer--xl);
        padding-left: var(--pf-global--spacer--xl);
        padding-bottom: var(--pf-global--spacer--xl);

        @media screen and (min-width: $pf-global--breakpoint--md) {
            padding-bottom: var(--pf-global--spacer--2xl);
        }
    }
}


.ins-c-product-grid__layout {
    margin: 0 auto;
    max-width: var(--ins-c-landing--m-display-lg--MaxWidth);
    border-top: var(--pf-global--BorderWidth--sm) solid var(--pf-global--BorderColor--100);

    @media screen and (min-width: #{$ins-c-product-grid--border--breakpoint}) {
        border: var(--pf-global--BorderWidth--sm) solid var(--pf-global--BorderColor--100);
    }

    > * {
        border-bottom: var(--pf-global--BorderWidth--sm) solid var(--pf-global--BorderColor--100);

        &:nth-child(odd) {
            @media screen and (min-width: #{$ins-c-product-grid--breakpoint}) {
                border-right: var(--pf-global--BorderWidth--sm) solid var(--pf-global--BorderColor--100);
            }
        }

        &.ins-m-featured {
            border: none;

            @media screen and (min-width: #{$ins-c-product-grid--border--breakpoint}) {
                padding-bottom: var(--pf-global--spacer--xl);
            }


            .ins-c-marketing-card__header-logo {
                @media screen and (min-width: $pf-global--breakpoint--md) {
                    height: #{pf-size-prem(65px)};
                }
            }
        }
    }

    .pf-c-card {
        --pf-c-card--first-child--PaddingTop: var(--pf-global--spacer--2xl);
        --pf-c-card--child--PaddingBottom: var(--pf-global--spacer--xl);
        --pf-c-card--child--PaddingRight: var(--pf-global--spacer--2xl);
        --pf-c-card--child--PaddingLeft: var(--pf-global--spacer--2xl);

        @media screen and (min-width: $pf-global--breakpoint--2xl) {
            --pf-c-card--child--PaddingRight: var(--pf-global--spacer--4xl);
            --pf-c-card--child--PaddingLeft: var(--pf-global--spacer--4xl);
        }

    }
}

.ins-c-product-grid__split-item {
    display: flex;
    flex: 1;
    align-items: center;
    padding-right: var(--pf-global--spacer--2xl);
    padding-left: var(--pf-global--spacer--2xl);

    @media screen and (min-width: $pf-global--breakpoint--xl) {
        padding-left: 0;
    }

    @media screen and (min-width: #{$ins-c-product-grid--border--breakpoint}) {
        padding-right: #{pf-size-prem(84px)};
    }

    .ins-c-card-video {
        @media screen and (min-width: $pf-global--breakpoint--xl) {
            margin: 0 auto;
        }
    }
}

.ins-c-product-grid-modal {
    --pf-c-modal-box__header--PaddingTop: var(--pf-global--spacer--xl);
    --pf-c-modal-box__body--PaddingTop: var(--pf-global--spacer--3xl);
    --pf-c-modal-box__body--PaddingRight: var(--pf-global--spacer--2xl);
    --pf-c-modal-box__body--PaddingBottom: var(--pf-global--spacer--2xl);
    --pf-c-modal-box__body--PaddingLeft: var(--pf-global--spacer--2xl);
    --pf-c-modal-box__body--last-child--PaddingBottom: var(--pf-global--spacer--2xl);
    --pf-c-modal-box--c-button--sibling--MarginRight: 0;

    @media screen and (min-height: 800px) {
        min-height: #{pf-size-prem(500px)};
    }

    .pf-c-modal-box__body {
        display: flex;
        flex-direction: column;
    }
}

.ins-c-product-grid-modal__layout {
    --pf-l-grid--m-gutter--GridGap: var(--pf-global--spacer--xl);

    flex: 1;
}

.ins-c-product-grid-modal__footer {
    padding-top: var(--pf-global--spacer--lg);
}

.ins-c-product-grid-modal__image {
    margin-top: var(--pf-global--spacer--xl);
}
